<a href="https://colab.research.google.com/github/mady1258/Regression/blob/mady1258-regression_exercise/Linear_Regression_ripynb_solved.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# follow up  template after that write the code

## 1. Let's Now Import library of pandas and numpy

In [1]:
import pandas as pd
import numpy as np

## 2. Load The Data into a Pandas Frame , hint  use **pd.read_csv**

In [2]:
from google.colab import files 
  
  
uploaded = files.upload()

Saving kc_house_data.csv to kc_house_data.csv

In [3]:
df = pd.read_csv('kc_house_data.csv')

In [4]:
df.head()

           id             date     price  ...     long  sqft_living15  sqft_lot15
0  7129300520  20141013T000000  221900.0  ... -122.257           1340        5650
1  6414100192  20141209T000000  538000.0  ... -122.319           1690        7639
2  5631500400  20150225T000000  180000.0  ... -122.233           2720        8062
3  2487200875  20141209T000000  604000.0  ... -122.393           1360        5000
4  1954400510  20150218T000000  510000.0  ... -122.045           1800        7503

[5 rows x 21 columns]

## 3. define x is the features of dataframe and y is label , hint use **df.iloc**

In [9]:
X = df.iloc[:,3:] 
y = df.iloc[:, 2]

In [10]:
X

       bedrooms  bathrooms  sqft_living  ...     long  sqft_living15  sqft_lot15
0             3       1.00         1180  ... -122.257           1340        5650
1             3       2.25         2570  ... -122.319           1690        7639
2             2       1.00          770  ... -122.233           2720        8062
3             4       3.00         1960  ... -122.393           1360        5000
4             3       2.00         1680  ... -122.045           1800        7503
...         ...        ...          ...  ...      ...            ...         ...
21608         3       2.50         1530  ... -122.346           1530        1509
21609         4       2.50         2310  ... -122.362           1830        7200
21610         2       0.75         1020  ... -122.299           1020        2007
21611         3       2.50         1600  ... -122.069           1410        1287
21612         2       0.75         1020  ... -122.299           1020        1357

[21613 rows x 18 columns]

### 4.Drop (id,date) column from x(independent variables ),  hint use **drop()** function

## 5. Splitting the dataset into the Training set and Test set and put **random_state=2**

In [11]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 2)

## 6. Fitting Linear Regression to the dataset and count regression.score

In [13]:
from sklearn.metrics import mean_squared_error, r2_score 
# Fitting Simple Linear Regression to the Training set
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train)

regressor.score(X_train, y_train)
regressor.score(X_test, y_test)

0.7156152938565707